<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.AdviceMapper">
	
	<select id="selectOne" resultType="AdviceVO">
		select * from advice where no=#{no}
	</select>
	
	<select id="selectTopFive" resultType="AdviceVO">
		select * from advice order by no desc limit 5
	</select>
	
	<insert id="insert">
		insert into advice values(0, #{name}, #{cmp_name}, #{cmp_dept}, #{cmp_phone}, #{budget}, #{content}, #{regdate})
	</insert>
	
	<delete id="delete">
		delete from advice where no=#{no}
	</delete>
	
	<select id="listSearch" resultType="AdviceVO">
		select * from advice where no>0 <include refid="search"></include> order by no desc, regdate desc limit #{pageStart},#{perPageNum}
	</select>
	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			and title like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='c'.toString()">
			and content like concat('%',#{keyword},'%') 
		</if>
		<if test="searchType=='n'.toString()">
			and name=#{keyword}
		</if>
		<if test="searchType=='s'.toString()">
			and state like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='p'.toString()">
			and phone like concat('%',#{keyword},'%')
		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		select count(no) from advice where no>0 <include refid="search"></include>
	</select>
	
</mapper>